<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<div class="color-chart-wrapper">
        <table class="color-chart"> 
        <tr> 
        <th>Color Name</th> 
        <th>Hex Code<br /> 
        RGB</th>
        <th>Decimal Code<br /> 
        RGB</th> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Reds</td> 
        </tr> 
        <tr style="background:indianred;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=IndianRed">IndianRed</a></td> 
        </tr> 
        <tr style="background:lightcoral;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightCoral">LightCoral</a></td> 
        </tr> 
        <tr style="background:salmon;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Salmon">Salmon</a></td> 
        </tr> 
        <tr style="background:darksalmon;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkSalmon">DarkSalmon</a></td> 
        </tr> 
        <tr style="background:lightsalmon;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightSalmon">LightSalmon</a></td> 
        </tr>
        <tr style="background:crimson;color:white;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Crimson">Crimson</a></td> 
        </tr> 
        <tr style="background:red;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Red">Red</a></td> 
        </tr> 
        <tr style="background:fireBrick;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=FireBrick">FireBrick</a></td> 
        </tr>
        <tr style="background:darkred;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkRed">DarkRed</a></td> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Pinks</td> 
        </tr> 
        <tr style="background:pink;color:black">
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Pink">Pink</a></td> 
        </tr> 
        <tr style="background:lightpink;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightPink">LightPink</a></td> 
        </tr> 
        <tr style="background:hotpink;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=HotPink">HotPink</a></td> 
        </tr>
        <tr style="background:deeppink;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DeepPink">DeepPink</a></td> 
        </tr> 
        <tr style="background:mediumvioletred;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumVioletRed">MediumVioletRed</a></td> 
        </tr> 
        <tr style="background:palevioletred;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PaleVioletRed">PaleVioletRed</a></td> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Oranges</td> 
        </tr> 
        <tr style="background:coral;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Coral">Coral</a></td> 
        </tr> 
        <tr style="background:tomato;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Tomato">Tomato</a></td> 
        </tr> 
        <tr style="background:orangered;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=OrangeRed">OrangeRed</a></td> 
        </tr>
        <tr style="background:darkorange;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkOrange">DarkOrange</a></td> 
        </tr> 
        <tr style="background:orange;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Orange">Orange</a></td> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Yellows</td> 
        </tr> 
        <tr style="background:gold;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Gold">Gold</a></td> 
        </tr>
        <tr style="background:yellow;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Yellow">Yellow</a></td> 
        </tr> 
        <tr style="background:lightyellow;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightYellow">LightYellow</a></td> 
        </tr> 
        <tr style="background:lemonchiffon;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LemonChiffon">LemonChiffon</a></td> 
        </tr>
        <tr style="background:lightgoldenrodyellow;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightGoldenrodYellow">LightGoldenrodYellow</a></td> 
        </tr> 
        <tr style="background:papayawhip;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PapayaWhip">PapayaWhip</a></td> 
        </tr> 
        <tr style="background:moccasin;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Moccasin">Moccasin</a></td> 
        </tr>
        <tr style="background:peachpuff;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PeachPuff">PeachPuff</a></td> 
        </tr> 
        <tr style="background:palegoldenrod;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PaleGoldenrod">PaleGoldenrod</a></td> 
        </tr> 
        <tr style="background:khaki;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Khaki">Khaki</a></td> 
        </tr>
        <tr style="background:darkkhaki;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkKhaki">DarkKhaki</a></td> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Purples</td> 
        </tr> 
        <tr style="background:lavender;color:black">
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Lavender">Lavender</a></td> 
        </tr> 
        <tr style="background:thistle;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Thistle">Thistle</a></td> 
        </tr> 
        <tr style="background:plum;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Plum">Plum</a></td> 
        </tr>
        <tr style="background:violet;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Violet">Violet</a></td> 
        </tr> 
        <tr style="background:orchid;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Orchid">Orchid</a></td> 
        </tr> 
        <tr style="background:fuchsia;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Fuchsia">Fuchsia</a></td> 
        </tr>
        <tr style="background:Magenta;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Magenta">Magenta</a></td> 
        </tr> 
        <tr style="background:mediumorchid;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumOrchid">MediumOrchid</a></td> 
        </tr> 
        <tr style="background:mediumpurple;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumPurple">MediumPurple</a></td> 
        </tr>
        <tr style="background:blueviolet;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=BlueViolet">BlueViolet</a></td> 
        </tr> 
        <tr style="background:darkviolet;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkViolet">DarkViolet</a></td> 
        </tr>
        <tr style="background:darkorchid;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkOrchid">DarkOrchid</a></td> 
        </tr> 
        <tr style="background:darkmagenta;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkMagenta">DarkMagenta</a></td> 
        </tr> 
        <tr style="background:purple;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Purple">Purple</a></td> 
        </tr>
        <tr style="background:rebeccapurple;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=RebeccaPurple">RebeccaPurple</a></td> 
        </tr>
        <tr style="background:indigo;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Indigo">Indigo</a></td> 
        </tr> 
        <tr style="background:mediumslateblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumSlateBlue">MediumSlateBlue</a></td> 
        </tr> 
        <tr style="background:slateblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SlateBlue">SlateBlue</a></td> 
        </tr> 
        <tr style="background:darkslateblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkSlateBlue">DarkSlateBlue</a></td> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Greens</td> 
        </tr> 
        <tr style="background:greenyellow;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=GreenYellow">GreenYellow</a></td> 
        </tr> 
        <tr style="background:chartreuse;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Chartreuse">Chartreuse</a></td> 
        </tr> 
      
        <tr style="background:lawngreen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LawnGreen">LawnGreen</a></td> 
        </tr> 
        <tr style="background:lime;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Lime">Lime</a></td> 
        </tr> 
        <tr style="background:limegreen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LimeGreen">LimeGreen</a></td> 
        </tr> 
      
        <tr style="background:palegreen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PaleGreen">PaleGreen</a></td> 
        </tr> 
        <tr style="background:lightgreen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightGreen">LightGreen</a></td> 
        </tr> 
        <tr style="background:mediumspringgreen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumSpringGreen">MediumSpringGreen</a></td> 
        </tr> 
      
        <tr style="background:springgreen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SpringGreen">SpringGreen</a></td> 
        </tr> 
        <tr style="background:mediumseagreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumSeaGreen">MediumSeaGreen</a></td> 
        </tr> 
        <tr style="background:seagreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SeaGreen">SeaGreen</a></td> 
        </tr> 
      
        <tr style="background:forestgreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=ForestGreen">ForestGreen</a></td> 
        </tr> 
        <tr style="background:green;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Green">Green</a></td> 
        </tr> 
        <tr style="background:darkgreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkGreen">DarkGreen</a></td> 
        </tr> 
      
        <tr style="background:yellowgreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=YellowGreen">YellowGreen</a></td> 
        </tr> 
        <tr style="background:olivedrab;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=OliveDrab">OliveDrab</a></td> 
        </tr> 
        <tr style="background:olive;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Olive">Olive</a></td> 
        </tr> 
      
        <tr style="background:darkolivegreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkOliveGreen">DarkOliveGreen</a></td> 
        </tr> 
        <tr style="background:mediumaquamarine;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumAquamarine">MediumAquamarine</a></td> 
        </tr> 
        <tr style="background:darkseagreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkSeaGreen">DarkSeaGreen</a></td> 
        </tr> 
      
        <tr style="background:lightseagreen;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightSeaGreen">LightSeaGreen</a></td> 
        </tr> 
        <tr style="background:darkcyan;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkCyan">DarkCyan</a></td> 
        </tr> 
        <tr style="background:teal;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Teal">Teal</a></td> 
        </tr> 
      
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Blues/Cyans</td> 
        </tr> 
        <tr style="background:aqua;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Aqua">Aqua</a></td> 
        </tr> 
        <tr style="background:cyan;color:black"> 
      
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Cyan">Cyan</a></td> 
        </tr> 
        <tr style="background:lightcyan;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightCyan">LightCyan</a></td> 
        </tr> 
        <tr style="background:paleturquoise;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PaleTurquoise">PaleTurquoise</a></td> 
        </tr> 
      
        <tr style="background:aquamarine;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Aquamarine">Aquamarine</a></td> 
        </tr> 
        <tr style="background:turquoise;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Turquoise">Turquoise</a></td> 
        </tr> 
        <tr style="background:mediumturquoise;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumTurquoise">MediumTurquoise</a></td> 
        </tr> 
      
        <tr style="background:darkturquoise;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkTurquoise">DarkTurquoise</a></td> 
        </tr> 
        <tr style="background:cadetblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=CadetBlue">CadetBlue</a></td> 
        </tr> 
        <tr style="background:steelblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SteelBlue">SteelBlue</a></td> 
        </tr> 
      
        <tr style="background:lightsteelblue;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightSteelBlue">LightSteelBlue</a></td> 
        </tr> 
        <tr style="background:powderblue;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=PowderBlue">PowderBlue</a></td> 
        </tr> 
        <tr style="background:lightblue;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightBlue">LightBlue</a></td> 
        </tr> 
      
        <tr style="background:skyblue;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SkyBlue">SkyBlue</a></td> 
        </tr> 
        <tr style="background:lightskyblue;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightSkyBlue">LightSkyBlue</a></td> 
        </tr> 
        <tr style="background:deepskyblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DeepSkyBlue">DeepSkyBlue</a></td> 
        </tr> 
      
        <tr style="background:dodgerblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DodgerBlue">DodgerBlue</a></td> 
        </tr> 
        <tr style="background:cornflowerblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=CornflowerBlue">CornflowerBlue</a></td> 
        </tr> 
        <tr style="background:royalblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=RoyalBlue">RoyalBlue</a></td> 
        </tr> 
        <tr style="background:blue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Blue">Blue</a></td> 
        </tr> 
        <tr style="background:mediumblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MediumBlue">MediumBlue</a></td> 
        </tr> 
      
        <tr style="background:darkblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkBlue">DarkBlue</a></td> 
        </tr> 
        <tr style="background:navy;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Navy">Navy</a></td> 
        </tr> 
        <tr style="background:midnightblue;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MidnightBlue">MidnightBlue</a></td> 
        </tr> 
      
        
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Browns</td> 
        </tr> 
        <tr style="background:cornsilk;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Cornsilk">Cornsilk</a></td> 
        </tr> 
        <tr style="background:blanchedalmond;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=BlanchedAlmond">BlanchedAlmond</a></td> 
        </tr> 
        <tr style="background:bisque;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Bisque">Bisque</a></td> 
        </tr> 
        <tr style="background:navajowhite;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=NavajoWhite">NavajoWhite</a></td> 
        </tr> 
        <tr style="background:wheat;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Wheat">Wheat</a></td> 
        </tr> 
      
        <tr style="background:burlywood;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=BurlyWood">BurlyWood</a></td> 
        </tr> 
        <tr style="background:tan;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Tan">Tan</a></td> 
        </tr> 
        <tr style="background:rosybrown;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=RosyBrown">RosyBrown</a></td> 
        </tr> 
      
        <tr style="background:sandybrown;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SandyBrown">SandyBrown</a></td> 
        </tr> 
        <tr style="background:goldenrod;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Goldenrod">Goldenrod</a></td> 
        </tr> 
        <tr style="background:darkgoldenrod;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkGoldenrod">DarkGoldenrod</a></td> 
        </tr> 
      
        <tr style="background:Peru;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Peru">Peru</a></td> 
        </tr> 
        <tr style="background:chocolate;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Chocolate">Chocolate</a></td> 
        </tr> 
        <tr style="background:saddlebrown;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SaddleBrown">SaddleBrown</a></td> 
        </tr> 
      
        <tr style="background:sienna;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Sienna">Sienna</a></td> 
        </tr> 
        <tr style="background:brown;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Brown">Brown</a></td> 
        </tr> 
        <tr style="background:maroon;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Maroon">Maroon</a></td> 
        </tr> 
      
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Whites</td> 
        </tr> 
        <tr style="background:white;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=White">White</a></td> 
        </tr> 
        <tr style="background:snow;color:black"> 
      
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Snow">Snow</a></td> 
        </tr> 
        <tr style="background:honeydew;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Honeydew">Honeydew</a></td> 
        </tr> 
        <tr style="background:mintcream;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MintCream">MintCream</a></td> 
        </tr> 
      
        <tr style="background:azure;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Azure">Azure</a></td> 
        </tr> 
        <tr style="background:aliceblue;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=AliceBlue">AliceBlue</a></td> 
        </tr> 
        <tr style="background:ghostwhite;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=GhostWhite">GhostWhite</a></td> 
        </tr> 
      
        <tr style="background:whitesmoke;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=WhiteSmoke">WhiteSmoke</a></td> 
        </tr> 
        <tr style="background:seashell;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Seashell">Seashell</a></td> 
        </tr> 
        <tr style="background:beige;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Beige">Beige</a></td> 
        </tr> 
      
        <tr style="background:oldlace;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=OldLace">OldLace</a></td> 
        </tr> 
        <tr style="background:floralwhite;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=FloralWhite">FloralWhite</a></td> 
        </tr> 
        <tr style="background:ivory;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Ivory">Ivory</a></td> 
        </tr> 
      
        <tr style="background:antiquewhite;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=AntiqueWhite">AntiqueWhite</a></td> 
        </tr> 
        <tr style="background:linen;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Linen">Linen</a></td> 
        </tr> 
        <tr style="background:lavenderblush;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LavenderBlush">LavenderBlush</a></td> 
        </tr> 
      
        <tr style="background:mistyrose;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=MistyRose">MistyRose</a></td> 
        </tr> 
        <tr> 
        <td colspan="3" style="background:black;color:white;font-size:12px;font-weight:bold;">Greys</td> 
        </tr> 
        <tr style="background:gainsboro;color:black"> 
      
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Gainsboro">Gainsboro</a></td> 
        </tr> 
        <tr style="background:LightGrey;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightGray">LightGray</a></td> 
        </tr> 
        <tr style="background:LightGrey;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightGrey">LightGrey</a></td> 
        </tr>         
        <tr style="background:silver;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Silver">Silver</a></td> 
        </tr> 
        <tr style="background:darkgray;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkGray">DarkGray</a></td> 
        </tr> 
        <tr style="background:darkgrey;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkGrey">DarkGrey</a></td> 
        </tr> 
        <tr style="background:gray;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Gray">Gray</a></td> 
        </tr> 
        <tr style="background:grey;color:black"> 
        <td><a style="color: black;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Grey">Grey</a></td> 
        </tr> 
        <tr style="background:dimgray;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DimGray">DimGray</a></td> 
    </tr> 
        <tr style="background:dimgrey;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DimGrey">DimGrey</a></td> 
        </tr> 
        <tr style="background:lightslategray;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightSlateGray">LightSlateGray</a></td> 
        </tr> 
        <tr style="background:lightslategrey;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=LightSlateGrey">LightSlateGrey</a></td> 
        </tr> 
        <tr style="background:slategray;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SlateGray">SlateGray</a></td> 
        </tr> 
        <tr style="background:slategrey;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=SlateGrey">SlateGrey</a></td> 
        </tr> 
        <tr style="background:darkslategray;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkSlateGray">DarkSlateGray</a></td> 
        </tr> 
        <tr style="background:darkslategrey;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=DarkSlateGrey">DarkSlateGrey</a></td> 
        </tr> 
      
        <tr style="background:black;color:white"> 
        <td><a style="color: white;" target="color-scheme" href="https://www.quackit.com/html/html_editors/scratchpad/?app=color_tester&colorName=Black">Black</a></td> 
        </tr> 
        </table>
      </div>
</body>
</html>