{% extends "layout.html" %}

{% block content %}
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                {% for roll in rolls %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card">
                            <h6 class="card-header">{{roll.color}} {{roll.width|floatformat:0}} in</h6>
                            <div class="card-body">
                                    <li class="list-group-item">{{roll.weight}} Kg</li>
                                    <li class="list-group-item">{{roll.gsm}} GSM</li>
                                    <li class="list-group-item">Print Type: {{roll.print_type}}</li>
                                    <li class="list-group-item">Units Available: {{roll.unit}}</li>
                                <button type="button" data-toggle="modal" data-target="#make_bag_{{ roll.id }}" class="btn btn-primary btn-block">Bag Details</button>
                                <!-- Modal-->
                                <div id="make_bag_{{ roll.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                                    <div role="document" class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Available Weight: {{roll.weight}} Kg</strong>
                                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                {% if form.non_field_errors  %}
                                                    <div id="form-error" class="alert alert-danger" role="alert">
                                                        {% for err in form.non_field_errors %}
                                                            <p class="form-error">{{ err }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <form action="{% url 'make_bag' %}" method="POST">
                                                    {%csrf_token%}
                                                    <input type="hidden" name="roll_id" value="{{roll.id}}">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12 col-md-12">
                                                            <div class="from-group">
                                                                <input type="number" step="any" class="form-control" placeholder="Roll weight used" name="roll_weight">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12 col-md-12">
                                                            <div class="from-group">
                                                                <input type="number" step="any" class="form-control" placeholder="Waste weight" name="waste_weight">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12 col-md-12">
                                                            <div class="from-group">
                                                                {{make_form.height}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12 col-md-12">
                                                            <div class="from-group">
                                                                {{make_form.width}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="from-group">
                                                                {{make_form.bag_type}}
                                                            </div>
                                                        </div>
                                                    </div>
                                            
                                                    
                                                    <hr>
                                                
                                                    <div class="form-group">
                                                        <button type="submit" class='btn btn-primary btn-block'>Make Bag</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        <div class="row">
                    {%endif%}
                {%endfor%}
        </div>
    </section>
{% endblock %}