{% extends "layout.html" %}

{% block content %}
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">                           
                    <div class="block">
                        {% if make_form.non_field_errors  %}
                            <div id="form-error" class="alert alert-danger" role="alert">
                                {% for err in make_form.non_field_errors %}
                                    <p class="form-error">{{ err }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if msg %}
                            <div class="alert alert-success" role="alert">
                                {{ msg }}
                            </div>
                        {% endif %}
                        <div class="block-body">
                            <form method="POST" action="{% url 'make_bag' %}">
                                {%csrf_token%}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="from-group">
                                            {{make_form.roll}}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="from-group">
                                            {{make_form.bag_type}}
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="from-group">
                                            <input type="number" step="any" class="form-control" placeholder="Roll weight used" name="roll_weight">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="from-group">
                                            {{make_form.height}}
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="from-group">
                                            {{make_form.width}}
                                        </div>
                                    </div>
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-3">
                                        <div class="from-group">
                                            <input type="number" step="any" class="form-control" placeholder="Waste weight" name="waste_weight">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="submit" class='btn btn-secondary btn-block'>Make</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
{% endblock %}