{% extends "layout.html" %}

{% block content %}
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Basic Weight</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{basic_weight}} Kgs</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Colour Weight</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{color_weight}} Kgs</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">W-Cut Weight</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{wcut_weight}} Kgs</h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <form method="POST" action="{% url 'price_shipments' %}">
            {% csrf_token %}
            <div class="block">
                <div class="row">
                    <div class="col-2">
                        {{form.party}}
                    </div>
                    <div class="col-3">
                        {{form.basic_rate}}
                    </div>
                    <div class="col-3">
                        {{form.color_rate}}
                    </div>
                    <div class="col-3">
                        {{form.wcut_rate}}
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-3">
                        {{form.block_unit}}
                    </div>
                    <div class="col-3">
                        {{form.block_rate}}
                    </div>
                    <div class="col-3">
                        {{form.print_unit}}
                    </div>
                    <div class="col-3">
                        {{form.print_rate}}
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                        {{form.fare_amount}}
                    </div>
                    <div class="col-4">
                        {{form.advance_amount}}
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <input type="submit" value="Generate Packing Slip" class="btn btn-light btn-block">
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </form>
        </div>
    </section>
{% endblock %}